form{
    color:black;
    padding-bottom:50px;
}
label{
    display: block;
    font-weight: 500;
    font-size: xlarge;
    padding:5px 10px;
    text-transform: uppercase;
}
input{
    width:50%;
    margin:0.7rem;
    padding:5px;
    border-radius: .4rem;
}
input:focus{
    color:white;
    background-color: rgba(0,0,0,0.5);
}
input::placeholder{
  padding-left:10px;
}
.top-btn-position{
    position:fixed;
    bottom:7%;
    right:5%;
    z-index: 2;
}
.top-btn-style{
    height:30px;
    width:30px;
    color:rgb(107, 155, 213);
    cursor: pointer;
    background-color: transparent;
}
/* .top-btn-style:hover{
    height:30px;
    width:30px;
    border-radius: 50%;
    border: 2px solid pink;
    background-color: pink;
    color:white;
    cursor: pointer;
} */
/* FOLD PHONE */
@media screen and (max-width:500px) and (max-height:750px) {
    input {
        width: 75%;
    }
}
