.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index:2;
}

.popup-inner {
    position: absolute;
    padding: 0px;
    width: 100%;
    max-width: 430px;
    border-radius: 1rem;
    background-color: #fff;
}

 .closebtn {
    position: absolute;
    top: 16px;
    right: 0;
    font-size: 1rem;
}
@media screen and (max-width:700px) and (max-height:950px) {
    .popup-inner{
       width:85%;
    }
}

/* FOLD PHONE */
@media screen and (max-width:500px) and (max-height:750px) {
    .popup-inner {
        width:93%;
        /* width: 250px; */
    }
}