ul{
  margin:0;
  padding:0;
}
.sidebar{
  position: fixed;
  display: flex;
  top:25%;
  left:0;
  z-index:2;
}
.sideicons{
  margin-left:-110px;
  width:160px;
  height:60px;
  padding:10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
.sideiconsbackgroundchange{
    margin-left: -110px;
      width: 160px;
      height: 60px;
      padding: 10px 20px;
    background-color: rgba(0, 125, 125, 0.9);
}
.sideicons:hover, .sideiconsbackgroundchange:hover{
  margin-left:-10px;
}
.sideicon{
  width:100%;
  color:white;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
svg{
  font-size: 52px;
}
.menu{
  color:white;
}
.mobilemenu{
  position: fixed;
  display: none;
  z-index:10;
  width:100%;
  /* background-color: rgba(74, 0, 0, 0.8); */
}
.mobilemenucolorchange{
    position: fixed;
      display: none;
      z-index: 10;
      width: 100%;
      background-color: rgba(0, 125, 125,0.8);
}
.hidden{
  display: none;
}
.mobilecontent {
  min-height: 100vh;
  width: 100vw;
  z-index: 7;
  display: block;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 125, 125,0.9);
}
.mobilecontent .mobileicon{
  display: flex;
  align-items: center;
  justify-content: center;
}
 .mobileicon .mobileicons{
    z-index: 11;
    color:white;
    margin:5px 10px;
    font-size: 42px;
    display: block;
}

 @media screen and (max-width:700px) and (max-height:950px) {
  .sideicons{
    display: none;
  }
  .sideiconsbackgroundchange{
    display: none;
  }
.mobilemenu{
  color:white;
  display: block;
  }
  .mobilemenucolorchange{
    color: white;
    display: block;
  }
 }