
ul{
  margin:0;
  padding:0;
}
.sidebar{
  position: fixed;
  display: flex;
  top:25%;
  left:0;
  z-index:2;
}
.sideicons{
  margin-left:-110px;
  width:160px;
  height:60px;
  padding:10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
.sideiconsbackgroundchange{
    margin-left: -110px;
      width: 160px;
      height: 60px;
      padding: 10px 20px;
    /* background-color: rgba(0, 125, 125, 0.9); */
    /* background-color:#487BB8; */
    background-color: rgba(107, 155, 213, .7);
}
.sideicons:hover, .sideiconsbackgroundchange:hover{
  margin-left:-10px;
}
.sideicon{
  width:100%;
  color:white;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
svg{
  font-size: 52px;
}
.menu{
  color:white;
}
.mobilemenu{
  position: fixed;
  display: none;
  z-index:102;
  width:100%;
  /* background-color: rgba(74, 0, 0, 0.8); */
}
.mobilemenucolorchange{
    position: fixed;
      display: none;
      z-index: 101;
      width: 100%;
    background-color:rgba(224, 133, 173,.7);
    backdrop-filter: blur(2rem);
}
.hidden{
  display: none;
}
.mobilecontent {
  min-height: 100vh;
  width: 40vw;
  z-index: 100;
  display: block;
  color: white;
  position: fixed;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content:flex-start;
  backdrop-filter: blur(1rem);
  background-color:rgba(224, 133, 173,.7);
  /* background-color: rgba(0, 125, 125,0.9); */
}
.mobilecontent .mobileicon{
  display: flex;
  align-items: left;
  justify-content: left;
}
 .mobileicon .mobileicons{
    z-index: 11;
    color:white;
    margin:5px;
    font-size: 2rem;
    display: block;
    text-align: left;
}
.mobileicon:hover:focus {
    width:100%;
    transition: .6s;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(153deg, rgba(194, 218, 247, 0.9932279909706546) 43%, rgba(107, 155, 213, 1) 100%);
    border-image-slice: 1;
  }
 @media screen and (width < 800px) {
  .sideicons{
    display: none;
  }
  .sideiconsbackgroundchange{
    display: none;
  }
.mobilemenu{
  color:white;
  display: block;
  }
  .mobilemenucolorchange{
    color: white;
    display: block;
  }
 }