ul{
  margin:0;
  padding:0;
}
.sidebar{
  position: fixed;
  display: flex;
  top:35%;
  left:0;
  z-index:2;
}
.sideicons{
  margin-left:-110px;
  width:160px;
  height:60px;
  padding:10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0, 0.9);
}
.sideicons:hover{
  margin-left:-10px;
}
.sideicon{
  width:100%;
  color:white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
svg{
  font-size: 52px;
}
.home{
  background-color: #deb460;
}
.github{
  background-color: hsl(0, 0%, 0%); 
}
.linkedin{
  background-color:hsl(164, 100%, 21%);
}
.resume{
  background-color: #833e3e;
}
 @media screen and (max-width:700px) and (max-height:950px) {
.sideicons {
    width: 130px;
    padding: 5px 10px 5px 20px;
  }
  svg{
    font-size: 30px;
  }
 }
.mobilemenu{
  color:white;
  z-index: 10;
  display: none;
}
 .mobilecontent{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  display: none;
 }
 .mobileicon{
  color:white;
  display: flex;
 /* display: block; */
 align-items: center;
 justify-content: center;
 display: none;
 }
 .mobileicons{
  color:white;
    display: flex;
      /* display: block; */
      align-items: center;
      justify-content: center;
      display: none;
 }
 /* FOLD PHONE */
 @media screen and (max-width:500px) and (max-height:750px) {
.sideicons {
    width: 130px;
    padding: 5px 10px 5px 20px;
  }

  svg {
    font-size: 30px;
  }
  .mobilemenu{
    display: block;
    color:white;
  }
  .mobilecontent{
    display: block;
  }
 }