#projects {
    color: white;
    width:700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position:relative;
}
.slide-container{
    width:70%;
    margin:auto;
}
.each-slide > img{
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height:100px;
}
/* FOLD PHONE */
 @media screen and (max-width:500px) and (max-height:750px) {
     p{
        padding:0px 10px;
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
 }