#skills{
    height:fit-content;
    padding:4rem 0  ;
    width: 100vw;
    color:white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .skillcontainer li{
    display:inline-block;
    margin:0px 50px;
    padding:50px;
    border-radius:10rem;
    background-color: black;
} */

.skillcontainer {
    position: relative;
    width: 20em;
    height: 30em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    /* border: dashed 1px; */
    border-radius: 50%;
    /* margin: 1em auto 0; */
}
.skillcontainer li {
    display: block;
    position: absolute;
    top: 70%; left: 50%;
    width: 1em; height: 2em;
    margin: -2em;
}
.circle-container skillicons { display: block; width: 100%; }
.deg0 { transform: translate(5em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(5em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(5em) rotate(-135deg); }
.deg180 { transform: translate(-5em); }
.deg225 { transform: rotate(225deg) translate(5em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(5em) rotate(-315deg); }
.deg315 { transform: rotate(315deg) translate(5em) rotate(-315deg); }
.mobile-skills-container{
    display: none;
}
.mobile-skills-container li{
    list-style-type: none;
}
/* (max-width:700px) and (max-height:950px) */
@media (width < 650px) {
.skillcontainer {
    display: none;
    }
    .mobile-skills-container, .skillicons{
        display: inline-block;
        margin:10px 50px;
    }
 }
/* @media screen and (max-width:900px){
    .skillcontainer {
        display: none;
        }
    .mobile-skills-container, .skillicons{
        display: inline-block;
        margin:10px 50px;
    }
} */